body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
  text-align: center;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#game-arena { 
  width: 450px;
  height: 450px;
  background-color: #333;
  position: relative;
  border:5px solid #666;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#score-board {
  font-size: x-large;
  font-weight: bold;
  color:black;
  margin-top: 10px 0;

}

.start-button {
  background-color: orangered;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

.food {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}